<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:cxf="http://camel.apache.org/schema/cxf"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd">

  <import resource="classpath:/META-INF/cxf/cxf.xml" />

  <camel:camelContext >
    <camel:package>com.mk.camel</camel:package>
  </camel:camelContext>

  <bean id="jacksonJsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />

  <cxf:rsServer id="manualServer" address="/manual" serviceClass="com.mk.services.ManualTransferService" staticSubresourceResolution="true">
    <cxf:providers>
      <ref bean="jacksonJsonProvider" />
    </cxf:providers>
  </cxf:rsServer>

  <cxf:rsServer id="notificationServer" address="/notification" serviceClass="com.mk.services.NotificationService" staticSubresourceResolution="true">
    <cxf:providers>
      <ref bean="jacksonJsonProvider" />
    </cxf:providers>
  </cxf:rsServer>

</beans>